:root {
    --primary: #6943ff;
    --gray: gray;
}

@media (prefers-color-scheme: dark) {
    :root {
        --gray: gray;
    }
}

.card {
    border-radius: 12px;
}

.edit-button {
    border-radius: 4px;
}